{% extends "layout.html" %}

{% block content %}
<h1>Kamabo company</h1><hr>
<br>
<h3>ésta página fué hecha por un equipo de la clase de computo de el colegio Conalep Guadalajara III.</h3>
<br>
<h4>Nosotros somos estudiantes de primer grado de la carrera de química industrial</h4>
<br>
<br>
<br>
<br>
<h3>Nombre de Los integrantes</h3>
<br>
<p>Jonathan Joaquin Ñuno Figueroa</p>
<p>Kevin Deivid González Guzmán </p>
<p>Bruce nicolas García Hurtado</p>
<p>Alberto Hiram Olvera Torres</p>
<br>
<h3>Notas del creador</h3>
<h4>Hola, primero que todo buenas tardes y soy Kevin Deivid Gonzalez Guzman, tengo 17 años, nacido el 27 de octrubre del 2006, soy un programador principiante por lo tanto la página obviamente no es la gran cosa o tal vez no es tan buena como quizá esperaban, todo esto fue hecho con tiempo, tampoco utilicé mucha información ni tampoco es como que la página haya sido programada con muchas lineas de código, obviamente soy un principiante por lo tanto no sé programar muy bien ni conozco muchos comandos para hacer una página profesional, espero que les haya gustado este sitio web, muy sencillo, tuve un problema para colocar imagenes por lo que no me fue posible colocar al menos una imagen, una disculpa por eso. Hablando de mi experienca, no tengo mucho tiempo haciendo este tipo de cosas, si hay alguna duda o necesidad de contactarme dejaré mi correo electrónico acá abajo,gracias.</h4>
<br>
<h4>Correo electrónico del dearrollador</h4>
<h5>kevingonzalezguz11@gmail.com</h5> <br>
<h4>Gracias por visitar nuestra página :) </h4>

{% endblock %}