{% extends "layout.html" %}


{% block content %}

<h1>Kamabo company</h1>
<hr>
<img src="img/WhatsApp Image 2023-11-14 at 7.01.00 PM.jpeg" alt="Icono de la empreza">
<br>
<h2>Bienvenido/a </h2>
<br>
<h3>Nosotros somos una compañia/empreza llamada Kamabo company que fue fundada en 1978 bajo el mando del fundador Hisashi Nogami, el objetivo principal de ésta, es la producción de alimento procesado de origen animal marino.</h3> <br>
<h3>También se nos reconoce por nuestro proceso de sanatización de alimentos, y utilizando producto (como pescados muertos, por ejemplo) para la elaboración de alimentos, mediante un proceso alto de sanatización siendo reconocidos y evaluadospor la organización mundial de la salud (OMS).</h3>
<br>
<h3>También y sobre todo reconocidos por el gobireno japonés por utilizar animales marinos contaminados por la catástrofe nuclear en Fukushima. </h3><br>
<h3>Nuestro objetivo actual es que podamos vender nuestros productos a nivel internacional/global.</h3>
<br>
<h3>Estamos establecidos en el país de japón justo en este momento en el veinticuantro de noviembre del dos mil veintitres</h3>
<br>
<h3>Si quieres obtener más información entral al siguiente link.</h3>
<a href="https://splatoonwiki.org/wiki/Kamabo_Corporation">Kamabo corporation</a>
<br>
<h2>Mandanos un correo electrónico si es que quieres saber más acerca de nosotros.</h2><br>
<h3>filosofosdelanight@gmail.com</h3><br>


{% endblock %}
